* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #0F1F41;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------- NavBar -----------------------------------------------------------------------*/

.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: #050d1ff1;
    width: 100%;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}

.NavBar:hover {
    box-shadow: 0px 0px 10px 0px #17A2B8;
    transition: all 0.5s ease-in-out;
}

.NavBarLogo {
    width: 150px;
    height: 100px;
}

.NavBarLogo img {
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.NavLinks ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
    margin-right: 20px;
    margin-top: 35px;
}

.NavLinks ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.NavLinks ul li button {
    outline: none;
    border: none;
    padding: 10px;
    background-color: #17A2B8;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    margin-top: -10px;
}

.NavLinks ul li span {
    background-color: #17A2B8;
    border: 1px solid transparent;
    padding: 12px 10px;
    border-radius: 6px;
}

.NavLinks ul li a.Active {
    color: #16c7e2;
}

.check {
    display: none;
}

.bars {
    display: none;
    z-index: 100;
    position: relative;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------- Categorize ----------------------------------------------------------------------------*/

.Categorize {
    margin-top: 20px;
    text-align: center;
}

.Container {
    width: 90%;
    margin: auto;
}

.Categorize h2 {
    font-size: 40px;
    font-weight: 600;
    color: #606D7F;
    position: relative;
    margin-bottom: 35px;
}

.Categorize h2::after {
    content: "";
    border: 1px solid #0F1F41;
    width: 70px;
    position: absolute;
    top: 110%;
    left: 47.5%;
}

.AllCards {
    display: flex;
    justify-content: space-between;
    gap: 25px 0px;
    flex-wrap: wrap;
}

.Card {
    width: 30%;
    height: 250px;
    padding: 25px 5px;
    color: #0F1F41;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

.Card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #16c7e290;
    transition: all 0.5s ease-in-out;
}

.Card i {
    font-size: 35px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}

.Card:hover i {
    transform: rotate(360deg);
}

.Card h3 {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.Card p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #0f1f4173;
}

.Card button {
    outline: none;
    border: none;
    background-color: #17A2B8;
    color: white;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.Card button a {
    text-decoration: none;
    color: white;
}

@keyframes ButtonsSizing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.Card:hover button {
    animation: ButtonsSizing 1s ease-in-out infinite;
    background-color: #0F1F41;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- Tablet Size --------------------------------------------------------------------------------*/

@media screen and (min-width: 580px) and (max-width: 768px) {


    .NavBarLogo {
        width: 125px;
    }

    .NavLinks ul {
        gap: 20px;
    }

    .NavLinks ul li a {
        font-size: 15px;
    }

    .NavLinks ul li span {
        padding: 5px;
    }

    /*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    .Container {
        width: 95%;
        margin: auto;
    }

    .Categorize h2 {
        font-size: 30px;
    }

    .Categorize h2::after {
        left: 46%;
    }

    .AllCards {
        gap: 20px;
    }

    .Card {
        width: 45%;
    }

    .last1 {
        margin-bottom: 20px;
    }

    .last {
        margin-bottom: 20px;
    }

    /*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- Mobile Size ------------------------------------------------------------------------------*/

@media screen and (max-width: 576px) {

    .NavBar {
        position: relative;
    }

    .NavBarLogo {
        width: 125px;
        height: 100px;
    }

    .NavLinks ul {
        display: none;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 30%;
        right: 0px;
        left: auto;
        height: fit-content;
        width: 25vh;
        background-color: #131823;
        text-align: left;
        border: 1px solid #17A2B8;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
        z-index: 100;
    }

    .NavLinks ul li a {
        font-size: 18px;
        font-weight: bold;
        margin-left: 5px;
    }

    .NavLinks ul li span {
        padding: 5px 5px;
        margin-left: 5px;
    }

    .bars {
        display: block;
        font-size: 25px;
        color: white;
        margin-top: 35px;
        margin-right: 25px;
    }

    .check:checked~ul {
        display: flex;
    }

    /*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    /*----------------------------------------------------------------------- Categorize -----------------------------------------------------------------------------*/

    .Container {
        width: 95%;
    }

    .Categorize h2 {
        font-size: 35px;
        margin-bottom: 35px;
    }

    .Categorize h2::after {
        left: 44.5%;
    }

    .AllCards {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .Card {
        width: 90%;
        height: 250px;
    }

    .last {
        margin-bottom: 50px;
    }

    /*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

}